<template>
  <div>
    <ul class="nav nav-pills flex-column">
      <router-link to="/" tag="li" class="link">
        <font-awesome-icon icon="file-invoice-dollar" size="4x" class="logo"/>
      </router-link>
      <li class="link" @click="goToFaturas">Faturas</li>
      <li class="link" @click="goToUsuarios">Usuários</li>
    </ul>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {  
  methods: {
    ...mapActions([
      "actionSetEditFatura",
      "actionSetEditUser",
      "actionResetMessage",
      "actionResetSucesso"    
    ]),
    goToFaturas() {
      this.actionSetEditFatura(false);
      this.actionResetMessage();
      this.actionResetSucesso();
      this.$router.push("/faturas");
    },
    goToUsuarios() {
      this.actionSetEditUser(false);
      this.actionResetMessage();
      this.actionResetSucesso();
      this.$router.push("/usuarios");
    },
  }
};
</script>

<style>
.logo {
  color: white;
  margin: 15px;
  cursor: pointer;
}

.link {
  text-align: center;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}

.link:hover {
  font-size: 1.7em;
}
</style>