<template>
  <div class="row">
    <div class="col-md-2 col-sm-3 painel">
      <app-painel-administrativo class="painel"></app-painel-administrativo>  
    </div>
    <div class="col-md-10 col-sm-9 main">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import PainelAdministrativo from "./components/PainelAdministrativo.vue";

export default {
  components: {
    appPainelAdministrativo: PainelAdministrativo
  }
};
</script>

<style>

html, body
{
    height: 100%;
}

.painel-main,
.main {
  padding: 0;
  flex: 1;
}

.painel {
  background-color: #673ab7;
  border: 2px solid rbga(0, 0, 0, 0.5);
  min-height: 100vh;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 0;
}
@import "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css";
</style>
