<template>
  <div class="container">
    <div class="form">
      <form @submit.prevent="onSubmit">
        <div class="input" :class="{invalid: $v.email.$error}">
          <label for="email">E-mail</label>
          <input type="email" id="email" @blur="$v.email.$touch()" v-model="email">
          <p class="invalid" v-if="!$v.email.email">Por favor, providencie um endereço de e-mail válido.</p>
          <p class="invalid" v-if="!$v.email.required && $v.email.$dirty">Este campo não pode ser vazio.</p>
        </div>
        <div class="input" :class="{invalid: $v.nome.$error}">
          <label for="nome">Nome</label>
          <input type="text" id="nome" @blur="$v.nome.$touch()" v-model="nome">
          <p class="invalid" v-if="!$v.nome.required && $v.nome.$dirty">Este campo não pode ser vazio.</p>
          <p class="invalid" v-if="!$v.nome.minLen && $v.nome.$dirty">É necessário no mínimo 3 caracteres.</p>
        </div>
        <div class="input" :class="{invalid: $v.senha.$error}">
          <label for="senha">Senha</label>
          <input type="password" id="senha" @blur="$v.senha.$touch()" v-model="senha">
          <p class="invalid" v-if="!$v.senha.required && $v.senha.$dirty">Este campo não pode ser vazio.</p>
        </div>
        <div class="input" :class="{invalid: $v.senhaConfirmacao.$error}">
          <label for="senhaConfirmacao">Confirme sua senha</label>          
          <input type="password" id="senhaConfirmacao" @blur="$v.senhaConfirmacao.$touch()" v-model="senhaConfirmacao">
          <p class="invalid" v-if="!$v.senhaConfirmacao.required && $v.senhaConfirmacao.$dirty">Este campo não pode ser vazio.</p>
          <p class="invalid" v-if="!$v.senhaConfirmacao.sameAs && $v.senhaConfirmacao.$dirty">As senhas devem ser iguais.</p>
        </div>
        <div class="form-group row">
          <div class="submit bt">           
            <button type="submit" :disabled="$v.$invalid" v-if="!edit">Criar novo usuário</button>
            <button type="submit" :disabled="$v.$invalid" v-if="edit">Atualizar usuário</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { required, email, sameAs, minLength } from "vuelidate/lib/validators";
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      email: "",
      nome: "",
      senha: "",
      senhaConfirmacao: ""
    };
  },
  computed: {
    edit() {
      return this.$store.state.user.edit;
    }
  },
  validations: {
    email: {
      required,
      email
    },
    nome: {
      required,
      minLen: minLength(3)
    },
    senha: {
      required
    },
    senhaConfirmacao: {
      required,
      sameAs: sameAs("senha")
    }
  },
  methods: {
    ...mapActions([
      'actionCreateUser',
      'actionGetUsers',
      'actionUpdateUser',
      'actionSetMessage',
      'actionSetSucesso'
    ]),
    onSubmit() {
      const usuario = {
        email: this.email,
        nome: this.nome,
        senha: this.senha
      };
      if (!this.edit) {
        this.actionCreateUser(usuario)
          .then(result => {
            this.actionSetMessage(result.data.message);
            this.actionSetSucesso(true);
            this.actionGetUsers();
            this.$router.push("/usuarios");
          })
          .catch(err => {
            this.actionSetMessage(err.data.message);
            this.actionSetSucesso(false);
          });
      } else {
        const userId = this.$route.params.id;
        this.actionUpdateUser({ userId, usuario })
        .then(result => {
          this.actionSetMessage(result.data.message);
          this.actionSetSucesso(true);
          this.actionGetUsers();
          this.$router.push("/usuarios");
        })
        .catch(err => {
          console.log(err);
          this.actionSetMessage(err.data.message);
          this.actionSetSucesso(false);
        });
      }
    }
  },
  mounted() {
    if (this.edit) {
      const user = this.$store.state.user.user;
      this.nome = user.nome;
      this.email = user.email;
    }
  }
};
</script>

<style>
.signup-form {
  width: 400px;
  margin: 30px auto;
  border: 1px solid #eee;
  padding: 20px;
  box-shadow: 0 2px 3px #ccc;
}

.input {
  margin: 10px auto;
}

.input label {
  display: block;
  color: #4e4e4e;
  margin-bottom: 6px;
}

.input.inline label {
  display: inline;
}

.input input {
  font: inherit;
  width: 100%;
  padding: 6px 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.input.inline input {
  width: auto;
}

input:focus {
  outline: none;
  border: 1px solid #521751;
  background-color: #eee;
}

.invalid label,
.invalid p {
  color: red;
}

.invalid input {
  border: 1px solid red;
  background-color: #ffc9aa;
}

.input select {
  border: 1px solid #ccc;
  font: inherit;
}

.submit {
  text-align: center;
}

.submit button {
  border: 1px solid #521751;
  color: #521751;
  padding: 10px 20px;
  font: inherit;
  cursor: pointer;
  margin: 0 auto;
}

.submit button:hover,
.submit button:active {
  background-color: #521751;
  color: white;
}

.submit button[disabled],
.submit button[disabled]:hover,
.submit button[disabled]:active {
  border: 1px solid #ccc;
  background-color: transparent;
  color: #ccc;
  cursor: not-allowed;
}
</style>