<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="bt">
          <router-link
            tag="button"
            class="button btn btn-outline-primary"
            :to="'usuarios/edit/'"
          >Adicionar usuário</router-link>
        </div>
      </div>
      <div v-if="users.length > 0">
        <div class="row table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="user in users">
                <td>{{ user.nome }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <button class="btn btn-outline-primary" @click="deleteUsuario(user._id)">
                    <font-awesome-icon icon="trash"/>
                  </button>
                </td>
                <td>
                  <button class="btn btn-outline-primary" @click="searchUsuario(user._id)">
                    <font-awesome-icon icon="info"/>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="pages">
            <paginate
              :page-count="totalPages"
              :click-handler="changePage"
              :prev-text="'Anterior'"
              :next-text="'Próximo'"
              :container-class="'pagination'"
              :page-class="'page-link'"
              :prev-class="'page-link'"
              :next-class="'page-link'"
            ></paginate>
          </div>
        </div>
      </div>
      <div v-else>
        <h1>Nenhum usuário cadastrado</h1>
      </div>
    </div>
    <div class="info">
      <transition enter-active-class="animated bounce" leave-active-class="animated bounce">
        <div
          v-bind:class="[sucesso ? 'alert alert-success' : 'alert alert-danger']"
          v-if="show"
        >{{ message }}</div>
      </transition>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {
      show: false,
      page: 1
    };
  },
  computed: {
    users() {
      return this.$store.state.user.users;
    },
    totalPages() {
      return this.$store.state.user.totalPages;
    },
    message() {
      return this.$store.state.message.message;
    },
    sucesso() {
      return this.$store.state.message.sucesso;
    }
  },
  methods: {
    ...mapActions([
      "actionGetUsers",
      "actionDeleteUser",
      "actionGetUser",
      "actionSetMessage",
      "actionResetMessage",
      "actionSetSucesso",
      "actionResetSucesso",
      "actionSetEditUser"
    ]),
    deleteUsuario(usuarioId) {
      this.actionDeleteUser(usuarioId)
        .then(result => {
          this.actionSetMessage(result.data.message);
          this.actionSetSucesso(true);
          this.showMessage();
          this.actionGetUsers();
        })
        .catch(err => {
          this.actionSetMessage(err.response.data.message);
          this.actionSetSucesso(false);
          this.showMessage();
        });
    },
    searchUsuario(usuarioId) {
      this.actionGetUser(usuarioId)
        .then(result => {
          this.actionSetEditUser(true);
          this.$router.push(`/usuarios/edit/${usuarioId}`);
        })
        .catch(err => {
          this.actionSetMessage(err.response.data.message);
          this.actionSetSucesso(false);
          this.showMessage();
        });
    },
    showMessage() {
      if (this.message) {
        this.show = true;
        setTimeout(() => {
          this.show = false;
          this.actionResetMessage();
          this.actionResetSucesso();
        }, 2000);
      }
    },
    changePage(selected) {
      this.actionGetUsers(selected);
    }
  },
  mounted() {
    this.actionGetUsers();
    this.showMessage();
  }
};
</script>

<style>
</style>