<template>
  <div class="container">
    <div class="form">
      <form @submit.prevent="onSubmit">
        <div class="form-group row" :class="{invalid: $v.nomeEmpresa.$error}">
          <label for="nomeEmpresa" class="col-sm-2 col-form-label">Nome da empresa</label>
          <div class="col-sm-10">
            <input
              type="text"
              id="nomeEmpresa"
              class="form-control"
              placeholder="Nome da empresa"
              @blur="$v.nomeEmpresa.$touch()"
              v-model="nomeEmpresa"
            >
            <p v-if="!$v.nomeEmpresa.required && $v.nomeEmpresa.$dirty">Este campo não pode ser vazio.</p>
          </div>
        </div>
        <div class="form-group row">
          <label for="valor" class="col-sm-2 col-form-label">Valor</label>
          <div class="col-sm-10">
            <input
              id="valor"
              class="form-control"
              placeholder="Valor da fatura"
              @blur="$v.paga.$touch()"
              v-model="valor"
              v-money="money"
            >   
          </div>
        </div>
        <div class="form-group row" :class="{invalid: $v.dataVencimento.$error}">
          <label for="dataVencimento" class="col-sm-2 col-form-label">Data de vencimento</label>
          <div class="col-sm-10">
            <input 
              type="date"
              id="dataVencimento"
              class="form-control"
              placeholder="dd/mm/aaaa"
              @blur="$v.dataVencimento.$touch()"
              v-model="dataVencimento"
            >
            <p v-if="!$v.dataVencimento.required && $v.dataVencimento.$dirty">Este campo não pode ser vazio.</p>
          </div>
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Está paga?</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="paga" value=true v-model="paga">
                <label class="form-check-label">Sim</label>
              </div>            
              <div class="form-check">
                <input class="form-check-input" type="radio" name="paga" value=false v-model="paga">
                <label class="form-check-label">Não</label>
              </div>
            </div> 
          </div>
        </fieldset>
        <div class="form-group row" :class="{invalid: $v.usuario.$error}">
          <label for="user" class="col-sm-2 col-form-label">Usuário</label>
          <div class="col-sm-10">
            <select class="form-control" id="user" v-model="usuario" @blur="$v.usuario.$touch()">
              <option
                v-for="user in users"
                v-bind:key="user._id"
                v-bind:value="user._id"                
              >{{ user.nome }}</option>
            </select>
            <p v-if="!$v.usuario.required && $v.usuario.$dirty">Este campo não pode ser vazio.</p>
          </div>  
        </div>
        <div class="form-group row">
          <div class="submit">           
            <button type="submit" :disabled="$v.$invalid" v-if="!edit">Criar nova fatura</button>
            <button type="submit" :disabled="$v.$invalid" v-if="edit">Atualizar fatura</button>
          </div>
        </div>  
      </form>
    </div>
  </div>
</template>

<script>
import { required, numeric, minValue } from "vuelidate/lib/validators";
import { mapActions } from "vuex";
import { constants } from "crypto";

export default {
  data() {
    return {
      nomeEmpresa: "",
      valor: 0,
      dataVencimento: "",
      paga: null,
      usuario: null,
      money: {
        decimal: ',',
        thousands: '.',
        precision: 2,
        min: 1
      }
    };
  },
  computed: {
    users() {
      return this.$store.state.user.users;
    },
    edit() {
      return this.$store.state.fatura.edit;
    }
  },
  validations: {
    nomeEmpresa: {
      required
    },
    dataVencimento: {
      required
    },
    paga: {
      required
    },
    usuario: {
      required
    }
  },
  methods: {
    ...mapActions([
      "actionGetFaturas",
      "actionGetUsers",
      "actionSetEditFatura",
      "actionCreateFatura",
      "actionUpdateFatura",
      "actionSetMessage",
      "actionSetSucesso"      
    ]),
    convertInputToNumber(input) {
      const thousandFixed = input          
          .replace(/(.+)[.,](\d+)$/g, "$1x$2") // stripping number into $1: integer and $2: decimal part and putting it together with x as decimal point
          .replace(/[.,]/g, '') // getting rid of . AND ,
          .replace('x', '.'); // replacing x with .
      
      return parseFloat(thousandFixed);
    },
    onSubmit() {
      const fatura = {
        nomeEmpresa: this.nomeEmpresa,
        valor: this.convertInputToNumber(this.valor),
        dataVencimento: this.dataVencimento,
        paga: this.paga,
        usuario: this.usuario
      };
      if (!this.edit) {
        this.actionCreateFatura(fatura)
        .then(result => {
          this.actionSetMessage(result.data.message);
          this.actionSetSucesso(true);
          this.actionGetFaturas();
          this.actionSetEditFatura(false);
          this.$router.push("/faturas");
        })
        .catch(err => {
          this.actionSetMessage(err.data.message);
          this.actionSetSucesso(false);
        });
      } else {
        const faturaId = this.$route.params.id;
        this.actionUpdateFatura({ faturaId, fatura })
        .then(result => {
          this.actionSetMessage(result.data.message);
          this.actionSetSucesso(true);
          this.actionGetFaturas();
          this.actionSetEditFatura(false);
          this.$router.push("/faturas");
        })
        .catch(err => {
          this.actionSetMessage(err.data.message);
          this.actionSetSucesso(false);
        });
      }      
    }
  },
  mounted() {
    this.actionGetUsers();
    if (this.edit) {
      const fatura = this.$store.state.fatura.fatura;
      this.nomeEmpresa = fatura.nomeEmpresa;
      this.valor = fatura.valor.toFixed(2)
      this.dataVencimento = new Date(fatura.dataVencimento).toISOString().split('T')[0];
      this.paga = fatura.paga;
      this.usuario = fatura.usuario;
    }
  }
};
</script>

<style>
.input {
  margin: 10px auto;
}

.input label {
  display: block;
  color: #4e4e4e;
  margin-bottom: 6px;
}

.input.inline label {
  display: inline;
}

.input input {
  font: inherit;
  width: 100%;
  padding: 6px 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.input.inline input {
  width: auto;
}

.input input:focus {
  outline: none;
  border: 1px solid #521751;
  background-color: #eee;
}

.invalid label {
  color: red;
}

.invalid input,
.input select {
  border: 1px solid red;
  background-color: #ffc9aa;
}

.submit {
  text-align: center;
}

.submit button {
  border: 1px solid #521751;
  color: #521751;
  padding: 10px 20px;
  font: inherit;
  cursor: pointer;
  margin: 0 auto;
}

.submit button:hover,
.submit button:active {
  background-color: #521751;
  color: white;
}

.submit button[disabled],
.submit button[disabled]:hover,
.submit button[disabled]:active {
  border: 1px solid #ccc;
  background-color: transparent;
  color: #ccc;
  cursor: not-allowed;
}

th, 
td {
  text-align: center;
}
</style>