<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="bt">
          <router-link tag="button" class="button btn" :to="'faturas/edit/'">Adicionar fatura</router-link>
        </div>
      </div>
      <div v-if="faturas.length > 0">
        <div class="row table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nome do usuário</th>
                <th scope="col">Nome da empresa</th>
                <th scope="col">Valor</th>
                <th scope="col">Data de vencimento</th>
                <th scope="col">Está paga?</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="fatura in faturas">
                <td>{{ fatura.usuario.nome }}</td>
                <td>{{ fatura.nomeEmpresa }}</td>
                <td>{{ fatura.valor.toLocaleString('pt-BR', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) }}</td>
                <td>{{ new Date(fatura.dataVencimento).toISOString().split('T')[0] }}</td>
                <td>
                  <font-awesome-icon icon="check" v-if="fatura.paga" class="pago"/>
                  <font-awesome-icon icon="times" v-if="!fatura.paga" class="naoPago"/>
                </td>
                <td>
                  <button class="btn btn-outline-primary" @click="deleteFatura(fatura._id)">
                    <font-awesome-icon icon="trash"/>
                  </button>
                </td>
                <td>
                  <button class="btn btn-outline-primary" @click="searchFatura(fatura._id)">
                    <font-awesome-icon icon="info"/>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="pages">
            <paginate
              :page-count="totalPages"
              :click-handler="changePage"
              :prev-text="'Anterior'"
              :next-text="'Próximo'"
              :container-class="'pagination'"
              :page-class="'page-link'"
              :prev-class="'page-link'"
              :next-class="'page-link'"
            ></paginate>
          </div>
        </div>
      </div>
      <div v-else>
        <h1>Nenhuma fatura cadastrada</h1>
      </div>
    </div>
    <div class="info">
      <transition enter-active-class="animated bounce" leave-active-class="animated bounce">
        <div
          v-bind:class="[sucesso ? 'alert alert-success' : 'alert alert-danger']"
          v-if="show"
        >{{ message }}</div>
      </transition>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {
      show: false,
      page: 1,
      money: {
        decimal: ',',
        thousands: '.',
        precision: 2
      }
    };
  },
  computed: {
    faturas() {
      return this.$store.state.fatura.faturas;
    },
    totalPages() {
      return this.$store.state.fatura.totalPages;
    },
    message() {
      return this.$store.state.message.message;
    },
    sucesso() {
      return this.$store.state.message.sucesso;
    }
  },
  methods: {
    ...mapActions([
      "actionGetFaturas",
      "actionGetFatura",
      "actionDeleteFatura",
      "actionSetMessage",
      "actionSetSucesso",
      "actionResetMessage",
      "actionResetSucesso",
      "actionSetEditFatura"
    ]),
    deleteFatura(faturaId) {
      this.actionDeleteFatura(faturaId)
        .then(result => {
          this.actionSetMessage(result.data.message);
          this.actionSetSucesso(true);
          this.showMessage();
          this.actionGetFaturas();
        })
        .catch(err => {
          this.actionSetMessage(err.response.data.message);
          this.actionSetSucesso(false);
          this.showMessage();
        });
    },
    searchFatura(faturaId) {
      this.actionGetFatura(faturaId)
        .then(result => {
          this.actionSetEditFatura(true);
          this.$router.push(`/faturas/edit/${result.data.fatura._id}`);
        })
        .catch(err => {
          this.actionSetMessage(err.response.data.message);
          this.actionSetSucesso(false);
          this.showMessage();
        });
    },
    showMessage() {
      if (this.message) {
        this.show = true;
        setTimeout(() => {
          this.show = false;
          this.actionResetMessage();
          this.actionResetSucesso();
        }, 2000);
      }
    },
    changePage(selected) {
      this.actionGetFaturas(selected);
    }
  },
  mounted() {
    this.actionGetFaturas();
    this.showMessage();
  }
};
</script>

<style>
.btn {
  border-color: #673ab7;
  color: #673ab7;
}
.btn:hover {
  color: white;
  background: #673ab7;
  border-color: #673ab7;
}
.container {
  width: 80%;
  margin: 2% auto;
  border: 1px solid #eee;
  padding: 20px;
  box-shadow: 0 2px 3px #ccc;
}
.button {
  margin: 3%;
  right: 0;
  top: 0;
  right: 0;
}
.pago {
  color: green;
}
.naoPago {
  color: red;
}

.bt {
  margin: auto;
  margin-bottom: 2%;
}

.pages {
  margin: auto;
}

li a {
  color: #673ab7;
}

.page-link:hover {
  background: #673ab7;
}

.page-link:hover a {
  color: white;
  text-decoration: none;
}

.info {
  width: 30%;
  position: fixed;
  z-index: 1;
  right: 2%;
  top: 2%;
}

</style>